*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#snake{
    border: 1px solid black;
}

body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(52, 165, 52);
}